.navbar2{
  background: linear-gradient(90deg, rgba(25, 0, 65, 0.966) 0%, rgba(255, 251, 0, 0.774) 130%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 15000px;
}

.navbar-logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 50%);
  
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: auto;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
 
}
.logo{
  position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid rgba(219, 116, 240, 0.199);
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: rgb(0, 0, 0);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    
  }

  .nav-menu.active {
    background: linear-gradient(90deg, rgba(25, 0, 65, 0.966) 0%, rgba(255, 251, 0, 0.774) 130%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    
    text-align: center;
    top:0;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background: linear-gradient(90deg, rgba(216, 194, 251, 0.966) 0%, rgba(255, 251, 0, 0.774) 130%);
    color: #8400ff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    margin :auto;
    font-size: 5vw;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(0, 0, 0);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: linear-gradient(90deg, rgba(25, 0, 65, 0.966) 0%, rgba(255, 251, 0, 0.774) 130%);
    color: #242424;
    transition: 250ms;
  }
}